body{
background: radial-gradient(ellipse at bottom, #11263c 0%, #000000 100%); 




}

div{
position:absolute;
width:400px;
height:200px;
top:30px;
left:20px;

}
d{
width:100%;
height:100%;
position:absolute;
top:0px;
left:0px;
z-index:99;
-webkit-filter:blur(10px);
filter:blur(10px);

}
dd{
z-index:100;
color:#FFF;
position:absolute;
width:100%;
height:100%;
background-color:#000 40%;


}




